@font-face {
  font-family: "EngraversGothic";
  src: local("EngraversGothicRegular"),
    url("./assets/fonts/EngraversGothicRegular.otf") format("opentype");
}
html {
  min-height: 100vh;
}
body {
  height: 100vh;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: inherit;
}
